# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda env
fraud_detection_env/
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache and coverage
.pytest_cache/
.coverage
htmlcov/

# Pre-commit logs and cache
.pre-commit-config.yaml
.pre-commit-cache/

# Misc
*.log
.DS_Store
